# SQLite3

In [9]:
import sqlite3

## Conectamos la base de datos

En este caso al no existir la base de datos se creará en la carpeta que indiquemos, por lo tanto lo hará en la carpeta actual donde tenemos nuestro cuaderno.

In [10]:
try:
    con = sqlite3.connect("usuarios.db")
    print('Base de datos iniciada')

except sqlite3.Error as error:
    print('Ha ocurrido un error')

Base de datos iniciada

Creamos un cursor para obtener resultados de nuestra base

In [11]:
cur = con.cursor()

## Tipos de datos

|Tipo|Sintaxis|
|:---:|:---:|
|NULL|NULL|
|INTEGER|INT|
|REAL|FLOAT|
|TEXT|VARCHAR|

## Creación de tablas

Creamos las tablas con los nombres de las columnas y sus especificaciones.

In [12]:
query = '''CREATE TABLE IF NOT EXISTS usuarios(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Nombres VARCHAR(255) NOT NULL,
    Apellidos VARCHAR(255) NOT NULL,
    Edad INT NOT NULL)'''

cur.execute(query)

In [13]:
query = '''CREATE TABLE IF NOT EXISTS preguntas(
    ID INT PRIMARY KEY,
    Cuaderno TEXT NOT NULL,
    Respuestas INT NOT NULL
    )'''

cur.execute(query)

Para cambiar el nombre de la tabla.

In [7]:
cur.execute('''ALTER TABLE pregunta
            RENAME TO preguntas''')
con.commit()

## Insertar datos

Añadir una columna a una tabla.

In [29]:
cur.execute('''ALTER TABLE preguntas 
            ADD COLUMN respuesta_1  VARCHAR(256) NULL''')
con.commit()

Ingresamos un usuario.

In [14]:
cur.execute("INSERT INTO usuarios(Nombres, Apellidos, Edad) VALUES('José', 'Peñuela', '29')")
con.commit()

Ingresamos datos a preguntas.

In [15]:
cur.execute("INSERT INTO preguntas VALUES('1001', 'npl_introduccion.ipynb', '0')")
con.commit()

Ingresamos múltiples usuarios.

In [16]:
usuarios_nuevos = [
    ('Pedro', 'Suarez', 35),
    ('Luis', 'Diaz', 25),
    ('Sofia', 'Perez', 22)
]

In [17]:
cur.executemany("INSERT INTO usuarios(Nombres, Apellidos, Edad) VALUES (?, ?, ?)", usuarios_nuevos)

con.commit()

Ingresamos múltiples preguntas.

In [18]:
preguntas_nuevas = [
    (1002, 'nlp_Introduccion', 2),
    (1003, 'nlp_Introduccion', 0),
    (1004, 'nlp_Introduccion', 0)]

In [19]:
cur.executemany("INSERT INTO preguntas VALUES (?, ?, ?)", preguntas_nuevas)

con.commit()

## Búsquedas

Consultamos todos los datos de la base de datos.

Usamos la instrucción `SELECT` para consultarlos datos de la tabla y obtener todos los registros. Para obtener todos los registros utilizaremos el método `fetchall()`. Para obtener un solo registro utilizamos `fetchone()`.

In [21]:
cur.execute('SELECT * FROM usuarios')

usuarios = cur.fetchall()

print(usuarios)

[(1, 'José', 'Peñuela', 29), (2, 'Pedro', 'Suarez', 35), (3, 'Luis', 'Diaz', 25), (4, 'Sofia', 'Perez', 22)]

Consultamos todos los datos de las columnas específicas.

In [ ]:
cur.execute('SELECT Apellidos, Edad FROM usuarios')

usuarios = cur.fetchall()

print(usuarios)

Consultamos todos los datos de la base de datos ordenado por edad, ya sea de manera ascendente `ASC` o descendente `DESC`.

In [ ]:
cur.execute('SELECT Apellidos, Edad FROM usuarios ORDER BY Edad ASC')

usuarios = cur.fetchall()

print(usuarios)

Consultamos un solo dato de la base de datos.

In [ ]:
cur.execute('SELECT * FROM usuarios')

usuario = cur.fetchone()

print(usuario)

Consultamos la cantidad de datos específico de la base de datos.

In [ ]:
cur.execute('SELECT * FROM usuarios')

usuario = cur.fetchmany(3)

print(usuario)

También podemos limitar el número de registros consultados.

In [ ]:
cur.execute('SELECT * FROM usuarios LIMIT 2')

usuario = cur.fetchall()

print(usuario)

Buscar el mayor `MAX` o el menor `MIN`.

In [ ]:
cur.execute('SELECT MAX(Edad) as mayor FROM usuarios')

usuario = cur.fetchall()

print(usuario)

### Sentencia `WHERE`

Realizamos la búsqueda que contengan un atributo en específico.

In [ ]:
cur.execute('SELECT * FROM usuarios WHERE ID=?', (222,))

usuarios = cur.fetchall()

print(usuarios)

Podemos agregar operdores lógicos.

In [ ]:
cur.execute('SELECT * FROM usuarios WHERE ID=1 AND Nombres="José" ')

usuarios = cur.fetchall()

print(usuarios)

Podemos seleccionar los datos que cumplan cierta condición a través de operadores de comparación `<`, `>`, `>=`, `<=`, `!=`.

In [ ]:
cur.execute('SELECT * FROM usuarios WHERE edad > 25')

usuario = cur.fetchall()

print(usuario)

Podemos usar la instrucción `BETWEEN` podemos consultar registros dentro de un rango.

In [ ]:
cur.execute('SELECT * FROM usuarios WHERE edad BETWEEN 26 AND 29')

usuario = cur.fetchall()

print(usuario)

Consultamos con `LIKE` cadenas de caracteres contenidas en un registro.

Sintaxis:

- `%ere%` : Para buscar dentro del registro.
- `ere%` : Debe empezar por "ere", pero no importa el contenido siguiente a este.
- `%ere` : Debe terminar por "ere", pero no importa el contenido anterior a este.

In [ ]:
cur.execute('SELECT * FROM usuarios WHERE Apellidos LIKE "%ere%" ')

usuario = cur.fetchall()

print(usuario)

## Actualización de datos

Aquí cambiamos la `edad` por el valor `30` del registro con el `ID=2`.

In [ ]:
cur.execute('UPDATE usuarios SET Edad=? WHERE ID=?', (30, 2))

con.commit()

## Eliminar datos

Eliminar registros.

In [ ]:
cur.execute('DELETE from usuarios WHERE ID=?', (222,))

con.commit()

Eliminar columnas.

In [ ]:
cur.execute('DROP TABLE usuarios')

con.commit()

Eliminar tabla.

In [ ]:
cur.execute('DROP TABLE usuarios')

con.commit()

## Llave foranea

In [22]:
cur.execute('PRAGMA foreign_keys = 1')

In [23]:
cur.execute('''CREATE TABLE IF NOT EXISTS Calificaciones(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    id_Usuario INTEGER NOT NULL,
    id_Pregunta INTEGER NOT NULL,
    Respuestas VARCHAR(256),
    Calificacion INTEGER,
    FOREIGN KEY(id_Usuario) REFERENCES Usuarios(ID),
    FOREIGN KEY(id_Pregunta) REFERENCES Preguntas(ID))''')

In [24]:
cur.execute('''INSERT INTO calificaciones(Id_Usuario, Id_Pregunta, Respuestas, Calificacion) 
            VALUES('1', '1001', '0', '5') ''')
con.commit()

In [25]:
cur.execute('SELECT * FROM Calificaciones')

calificacion = cur.fetchall()

print(calificacion)

[(1, 1, 1001, '0', 5)]

## Left Join

{Usuarios} \ {Calificaciones}

In [29]:
cur.execute(''' SELECT U.ID, U.Apellidos, C.Respuestas 
            FROM Usuarios U 
            LEFT JOIN Calificaciones C 
            ON U.ID = C.id_Usuario''')

print(cur.fetchall())

[(1, 'Peñuela', '0'), (2, 'Suarez', None), (3, 'Diaz', None), (4, 'Perez', None)]

## Rigth Join

{Calificaciones} \ {Usuarios}

In [30]:
cur.execute(''' SELECT U.ID, U.Apellidos, C.Respuestas 
            FROM Usuarios U 
            RIGHT JOIN Calificaciones C 
            ON U.ID = C.id_Usuario''')

print(cur.fetchall())

[(1, 'Peñuela', '0')]

## Inner Join

{Usuarios} $\cap$ {Calificaciones}

In [31]:
cur.execute(''' SELECT U.ID, U.Apellidos, C.Respuestas 
            FROM Usuarios U 
            INNER JOIN Calificaciones C 
            ON U.ID = C.id_Usuario''')

print(cur.fetchall())

[(1, 'Peñuela', '0')]

## Cross Join

{Usuarios} $\times$ {Calificaciones}

In [32]:
cur.execute(''' SELECT U.ID, U.Apellidos, C.Respuestas 
            FROM Usuarios U 
            CROSS JOIN Calificaciones C''')

print(cur.fetchall())

[(1, 'Peñuela', '0'), (2, 'Suarez', '0'), (3, 'Diaz', '0'), (4, 'Perez', '0')]

## Group By

Para mostrar elementos según un criterio.

In [35]:
cur.execute('''SELECT COUNT(Edad), Nombres, Apellidos 
            FROM Usuarios 
            GROUP BY Nombres''')

print(cur.fetchall())

[(1, 'José', 'Peñuela'), (1, 'Luis', 'Diaz'), (1, 'Pedro', 'Suarez'), (1, 'Sofia', 'Perez')]

Podemos también hacer búsquedas con tablas combinadas.

In [40]:
cur.execute('''SELECT COUNT(U.ID), U.Nombres, U.Apellidos, U.Edad, C.Calificacion
            FROM Usuarios U
            LEFT JOIN Calificaciones C
            ON U.ID = C.id_Usuario
            GROUP BY U.Edad''')

print(cur.fetchall())

[(1, 'Sofia', 'Perez', 22, None), (1, 'Luis', 'Diaz', 25, None), (1, 'José', 'Peñuela', 29, 5), (1, 'Pedro', 'Suarez', 35, None)]

## Having

Podemos usar operadores de comparación con la sentencia `HAVING`.

In [52]:
query = '''SELECT COUNT(U.ID), U.Nombres, U.Apellidos,  U.Edad, C.Calificacion
            FROM Usuarios U
            LEFT JOIN Calificaciones C
            ON U.ID = C.id_Usuario
            GROUP BY U.Edad
            HAVING U.Edad >= 25'''

cur.execute(query)

print(cur.fetchall())

[(1, 'Luis', 'Diaz', 25, None), (1, 'José', 'Peñuela', 29, 5), (1, 'Pedro', 'Suarez', 35, None)]

## Cerramos la conexión

In [ ]:
con.close()