# <font color= 0088ff> <b> Preprocesamiento </b> </i> </font>

<center> <img src="https://raw.githubusercontent.com/decardenass/MineriaDeDatos2022_2/main/Proyecto/Imagenes/fases-de-analisis.jpeg"width='1300' height='480'> </center>

## <font color= 0088ff> Autores
*  Angela Gissel Lopez Rodriguez, anlopezro@unal.edu.co
* Kevin Andres Rubiano Moreno, krubiano@unal.edu.co
* [Deivis German Sthid Cardenas Sanchez](https://co.linkedin.com/in/dgscardenass?original_referer=https%3A%2F%2Fwww.google.com%2F), decardenass@unal.edu.co

## <font color= 0088ff>Introducción

La creciente cantidad de datos que actualmente se generan en diversos ámbitos ha despertado el interés de los investigadores en mejorar las técnicas para recolectarlos y almacenarlos de manera organizada, con el fin de obtener a partir de ellos conocimiento genuino. Sin embargo, algunos procesos de recolección son realizados con poco cuidado y varios fenómenos que generan datos son desorganizados por naturaleza. Al conjunto de datos recién obtenidos se le conoce como "datos crudos" (_raw data_ en inglés), que se carcateriza por estar desorganizado y ser difícilmente una fuente apropiada de información. _ha generado la necesidad de tener sistemas que permitan recopilar, almacenar y procesar dichos datos_.  

Uno de los pricipales problemas que representan los datos crudos para los científicos de datos es que no son precisos para entrenar modelos supervisados, ya que tienen muchos errores, inconsistencias y están incompletos en algunos casos. Estas características los hacen inservibles para entrenar un modelo, pues por óptimo que sea el mismo, los datos con los que "aprende" no representan de manera correcta el fenómeno o la realidad a modelar.

Por lo tanto, para aumentar la efectividad de los modelos y sobre todo obtener información útil a partir de los datos recolectados, se deben llevar a cabo una serie de operaciones que sirven para arreglar, limpiar y traducir el conjunto de datos; logrando con esto simplificar su análisis, prevenir conclusiones engañosas y sacar el mejor provecho de la información que contienen.  

A esta serie de operaciones y técnicas previas al procesamiento de los datos se le conoce como preprocesamiento de datos o ingeniería de características, una disciplina que considera diferentes alternativas para mejorar el insumo de datos.

### <font color=  #0088ff > Ingeniería de características

Cómo se menciona previamente, la ingeniería de características son procedimientos que permiten mejorar el insumo de datos. Se plantea entonces el interrogante ¿qué es una característica?. 
Para responder esto, se puede considera un arreglo de datos en dos dimensiones (una tabla de datos convencional) en la cual, las filas corresponden a las observaciones del fenomeno de estudio, y a las columnas (que son las variables del conjunto de datos) se les denomina características (_features_ en inglés).  

<center> <img src="https://raw.githubusercontent.com/decardenass/MineriaDeDatos2022_2/main/Proyecto/Imagenes/Captura%20de%20pantalla%20(32).png"width='800' height='300'> </center>
  
El término "ingeniería de características" se refiere al conjunto de actividades ingeniosas que transforman las varibles originales y generan nuevas variables o nuevas características.  
Dentro de la ingeniería de características se pueden encontrar diversas ramas que se enfocan en ajustes específicos de los datos crudos. Algunas de estas son:
* Imputación de datos faltantes
* Estandarización de características  
* Normalización
* Transformaciones no lineales
* Codificación de características categóricas
* Discretización

#### <font color= #0088ff >  Imputación de datos faltantes

La imputación es un procedimiento que permite completar los conjuntos de datos, cuando estos carecen de ciertos elementos. Se tienen dos tipos de imputación que son la simple y la múltiple.
<center> <img src="https://raw.githubusercontent.com/decardenass/MineriaDeDatos2022_2/main/Proyecto/Imagenes/1_1OjNoQumsn4OfIbAafaDGw.png"width='800' height='300'> </center>
  
##### <font color= #0088ff> Imputación simple  
Dentro de los metodos de imputación simple se encuentran la imputación de la media, la mediana, imputación por regresión y hot-deck.  

- Media: Consiste en calcular la media de la variable o característica en la cual se tengan datos faltantes, y se reemplaza dicho valor en estos. El inconveniente con esta imputación, es que al ser la media susceptible a valores atípicos, podría llevar a imputar valores alejados del valor real.  
  
- Mediana: De manera similar al caso anterior, consiste en calcular la mediana de los datos y sustituirla en los faltantes. Esta imputación es un poco más robusta que la media.  
  
- Por regresión: Consiste en utilizar variables o caracteristicas que tengan correlación con la variable donde se presentan los datos faltantes, y a través de estas, crear modelos de regresión que permitan predecir o estimar cada uno de los datos faltantes. Una ventaja respecto a los metodos previos es que para cado de los datos faltantes se estima un valor diferente, caso que no ocurre con la media y la mediana donde se utiliza el mismo valor para todos los datos faltantes de una misma característica. Una desventaja por su parte, es que las caracteristicas asociadas para la geneación del modelo, deben estar correlacionadas.

- Hot-deck: En este caso el dato faltante se reemplaza por un valor tomado de los datos "cercanos". Aquí el método mas utilizado es el de los "k" vecinos más cercanos. Dicho método consiste en tomar los valores enteros más cercanos al faltante, y sustituir este por el promedio de ellos. Una ventaja respecto a los metodos anteriores es que respecto a la media y la mediana, este método es más preciso y respecto a la imputación por regresión no requiere que las caracteristicas estes correlacionadas.


##### <font color= #0088ff> Imputación multiple
Consiste en realizar, cómo su nombre lo indica, multiples imputaciones de diferentes tipos que luego se combinan con el fin de ir refinar la estimación del dato faltante. Es unta técnica más robusta que las anterioremente mencionadas y es muy utilizada actualmente.  
  
Dentro de la imputación multiple uno de los algoritmos más utilizados  en la actualidad es MICE (Multiple Imputation by Chained Equations en español Imputación Múltiple con Ecuaciones Encadenadas).
Este algoritmo se realiza de manera iterativa y en cada iteración se hacen estimaciones que van mejorando. Se parte de una estimación con la media y posteriormente se realizan estimaciones por regresión, hasta cierto número definido de iteraciones.

#### <font color= #0088ff >  Estandarización de características

La estandarización de los conjuntos de datos a menudo es requeida con el fin de que los algoritmos de aprendizaje automático puedan comportarse de una manera óptima, las carácterísticas separadas deberían tener más o menos una distribucíon normal estándar, es decir, un comportamiento gaussiano con media cero y varianza unitaria.

En la práctica, se opta por ignorar la forma de la distribución y sencillamente se transforman los datos para centrarlos, eliminando el valor medio de cada característica y luego escalandolo al dividir cada una de las características no constantes por su desviación estándar.

Dentro de los algoritmos de aprendizaje, un problema que se puede presentar si se tiene falta de estandarización, es que el algoritmo puede suponer que todas las características están centradas alrededor de cero o tienen varianza en el mismo orden, pero si alguna característica tiene una varianza de órdenes de magnitud mayor que otras, podría dominar la función objetivo y hacer que el estimador no pueda aprender de otras características correctamente como se esperaba.  
  
Dentro de las alternativas de estandarización se tiene
  
* Escalar características a un rango  
Una forma alternativa de estandarizar es escalar las características para que se encuentren entre ciertos valores mínimo y máximo, típicamente entre cero y uno. Utilizar esta escala, dota de robustez respecto a desviaciones estándar muy pequeñas de características y la preservación de entradas cero en datos dispersos.  
  
* Escalar datos escasos  
  
* Escalar datos con valores atípicos  
Como se mencionó, la estandarización generalmente se hace eliminando la media y escalando a la varianza de la unidad. Sin embargo, los valores atípicos a menudo pueden influir negativamente en la media y/o la varianza de la muestra. En tales casos, es necesario utilizar métodos robustos frente a datos atípicos, cómo la mediana y el rango intercuartílico, que suelen dar mejores resultados.

#### <font color= #0088ff >  Transformación de datos

Aunque sí guarden información relevante y necesaria para el análisis o el modelo, en ocasiones las variables seleccionadas no son útiles para los propósitos del estudio en la forma que están presentadas. Por lo tanto, se realizan manipulaciones sobre las variables para mejorar sus propiedades y con esto ayudar al modelo a tener una buena capacidad predictiva. Algunas transformaciones comunes son:

#### <font color= #0088ff >  Normalización

<center> <img src="https://raw.githubusercontent.com/decardenass/MineriaDeDatos2022_2/main/Proyecto/Imagenes/normalistandari1.png"width='800' height='300'> </center>



Los atributos están diseñados para funcionar en el ámbito que son usados aunque así tengan difícil interpretación estadística. Sin embargo, a veces se requiere que tengan un rango, media, dispersión, etc; distintos para que sean útiles y apropiados dentro de un modelo. Por esta razón, se utilizan operaciones de normalización sobre los atributos, que consisten en escalar los mismos.  
  
##### <font color= #0088ff>  Normalización mín-máx  

Re-escalar las característizas bajo el mismo rango tiene particular importancia cuando se quieren calcular distancias, de este modo las variables con un gran rango no influyen de forma incorrecta en las predicciones del modelo. 

La normalización mín-máx consiste en asignar un nuevo rango de valores al atributo en cuestión, un nuevo mínimo y un nuevo máximo a partir del mínimo y el máximo originales conservando las relaciones entre los datos originales. \[\]

Se usa la siguiente ecuación para normalizar los datos:

$$ v'=\frac{v-min_A}{max_A-min_A}(nuevo\_max_A-nuevo\_min_A)+nuevo\_min_A$$

Donde $A$ es el atributo en cuestión, $v$ es cada registro del atributo, y $v'$ es el nuevo valor del registro.

Sin embargo, la presencia de datos atípicos puede ocasionar que la normalización mín-máx tenga un efecto contradictorio para el objetivo del estudio. Por ejemplo, en caso de que hayan datos atípicos los datos quedarían muy agrupados y esto limitaría la presición de la predicción del atributo.\[\] Por esto, se presenta la siguiente operación de normalización.    
  
##### <font color= #0088ff>  Normalización $z$-score  
Consiste en usar la distribución de los datos para simplificar su estructura. Esto se realiza restando la media de los datos a cada registro del atributo y dividiendolo entre la desviación estándar de los datos.
$$v'=\frac{v-media_A}{des\_est_A}$$

De este modo el nuevo atributo tiene media cero y varianza uno. 

Una alternativa robusta a datos atípicos para esta normalización, es usar la siguiente definición de la desviación estándar en vez de la original:

$$s_A= \frac{1}{n}\sum_{i=1}^n |v_i-media_A|$$ 

##### <font color= #0088ff >  Normalización de escala decimal


Este método de normalización consiste en dividir los registris del atributo entre una potencia de diez tal que el máximo valor absoluto del atributo sea menor o igual que 1. Esta es una forma de reducir el valor absoluto de un atributo $A$.

#### <font color= #0088ff >  Transformaciones no lineales

  
* **Asignación a una distribución Gaussiana**

En ocasiones es deseable para los modelos que haya normalidad en la distribución de los datos, con la finalidad de estabilizar la varianza y minimizar la asimetría. Para lograr esto se realiza una transformación paramétrica y monótona sobre los datos.

*Transformación de Box-cox.*

Una de las posibles transformaciones de aproximación a la normal es la transformación de Box-Cox cuando el atributo es positivo siempre, que convierte el dato $x_i$ usando la siguiente función.

$$v'=\left\{\begin{array}{lc}
             \frac{x_i-1}{\lambda} & \lambda\neq 0 \\
ln(x_i) & \lambda=0
             \end{array}
          \right.
$$

#### <font color= #0088ff >  Codificación de características categóricas

<center> <img src="https://raw.githubusercontent.com/decardenass/MineriaDeDatos2022_2/main/Proyecto/Imagenes/onehotencoding2.png"width='1300' height='250'> </center>
Los datos categóricos representan un reto para algunas tecnicas de aprendizaje de maquina, algunos ejemplos son las regresiones, las maquinas de soporte vectorial o las redes neuronales, y representan un problema ya que estas están hechas para trabajar con valores numéricos, es por esta razón que tenemos que hacer una transformación de nuestros datos categóricos a valores numéricos.

Los métodos comunes para manejar características categóricas son:
* La codificación de etiquetas: consiste simplemente en convertir cada valor categórico de una columna en un número. Se recomienda utilizar la codificación de etiquetas para convertirlas en variables binarias y tambien es conveniente usar este tipo de codificación cuando tenemos una variable cualitativa ordinal, dado que esta tiene un orden jerarquico 

* Variables dummy: la idea detrás de las variables ficticias (dummy) es reemplazar una variable categórica con una o más características nuevas que pueden tener los valores 0 y 1.

### <font color= #0088ff > Ejemplo

In [ ]:
# Importación de algunas librerías necesarias
import pandas as pd
import numpy as np

En primer lugar se realiza la carga del conjunto de datos a través de una url desde un repositorio en GitHub y se muestra la estructura de dicho conjunto.

In [ ]:
# Carga de datos
url_1 = 'https://raw.githubusercontent.com/decardenass/MineriaDeDatos2022_2/main/Proyecto/Datos/datos.csv'
datos_ori = pd.read_csv(url_1, sep = ";")
dataset = datos_ori
dataset

   No      País  Edad  Salario Compra
0   1   Francia  44.0  72000.0     No
1   2    España  27.0  48000.0     Si
2   3  Alemania  30.0  54000.0     No
3   4    España  38.0  61000.0     No
4   5  Alemania  40.0      NaN     Si
5   6   Francia  35.0  58000.0     Si
6   7    España   NaN  52000.0     No
7   8   Francia  48.0  79000.0     Si
8   9  Alemania  50.0  83000.0     No
9  10   Francia  37.0  67000.0     Si

El conjunto de datos cargado cuenta con características de tipo numérico (Edad y Salario) y tipo categórico (País y Compra); y se observa que en las categorías Edad y Salario existen datos faltantes (NaN).

El primer procedimiento de ingeniería de características a realizar es la imputación de datos faltantes. En este caso en concreto se utiliza la media de los datos para cada una de las características donde es necesario completar los datos.

In [ ]:
# Imputación de datos faltantes
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(dataset.values[:, 2:4])
dataset.iloc[:, 2:4] = imputer.transform(dataset.values[:, 2:4])
dataset

   No      País       Edad       Salario Compra
0   1   Francia  44.000000  72000.000000     No
1   2    España  27.000000  48000.000000     Si
2   3  Alemania  30.000000  54000.000000     No
3   4    España  38.000000  61000.000000     No
4   5  Alemania  40.000000  63777.777778     Si
5   6   Francia  35.000000  58000.000000     Si
6   7    España  38.777778  52000.000000     No
7   8   Francia  48.000000  79000.000000     Si
8   9  Alemania  50.000000  83000.000000     No
9  10   Francia  37.000000  67000.000000     Si

Una vez aplicada la imputación de datos, se tiene un conjunto completo sobre el cual se puede seguir trabajando.  
Un siguiente tratamiento que se puede aplicar es sobre las características categóricas. 
Se pueden sustituir los valores en compras de "Si" y "No", por valores binarios de 0 y 1. Así mismo, para la característica País, se pueden agregar tantas características (nuevas columnas) como paises se tengan dentro del conjunto de datos y marcar 1 si el elemento de la fila pertenece a ese pais, y 0 en caso contrario.  
Se procede primero con el tratamiento para la característica Compra.

In [ ]:
# Codificacion de variables categoricas "binarias"
from sklearn.preprocessing import LabelEncoder
label_encoder_y = LabelEncoder()
dataset.iloc[:,-1] = label_encoder_y.fit_transform(dataset.iloc[:,-1])
dataset

   No      País       Edad       Salario  Compra
0   1   Francia  44.000000  72000.000000       0
1   2    España  27.000000  48000.000000       1
2   3  Alemania  30.000000  54000.000000       0
3   4    España  38.000000  61000.000000       0
4   5  Alemania  40.000000  63777.777778       1
5   6   Francia  35.000000  58000.000000       1
6   7    España  38.777778  52000.000000       0
7   8   Francia  48.000000  79000.000000       1
8   9  Alemania  50.000000  83000.000000       0
9  10   Francia  37.000000  67000.000000       1

Se observa que la característica Compra ahora se encuentra de forma númerica, siendo 1 que el elemento o cliente de esa fila realiza compras y marcando 0 en caso contrario.

In [ ]:
# Estandarizacion de caracteristicas
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
dataset.iloc[:,2:4] = min_max_scaler.fit_transform(dataset.iloc[:,2:4])
dataset

   No      País      Edad   Salario  Compra
0   1   Francia  0.739130  0.685714       0
1   2    España  0.000000  0.000000       1
2   3  Alemania  0.130435  0.171429       0
3   4    España  0.478261  0.371429       0
4   5  Alemania  0.565217  0.450794       1
5   6   Francia  0.347826  0.285714       1
6   7    España  0.512077  0.114286       0
7   8   Francia  0.913043  0.885714       1
8   9  Alemania  1.000000  1.000000       0
9  10   Francia  0.434783  0.542857       1

In [ ]:
# Codificacion de variables categoricas "dummy"
dataset = pd.get_dummies(dataset)
dataset

   No      Edad   Salario  Compra  País_Alemania  País_España  País_Francia
0   1  0.739130  0.685714       0              0            0             1
1   2  0.000000  0.000000       1              0            1             0
2   3  0.130435  0.171429       0              1            0             0
3   4  0.478261  0.371429       0              0            1             0
4   5  0.565217  0.450794       1              1            0             0
5   6  0.347826  0.285714       1              0            0             1
6   7  0.512077  0.114286       0              0            1             0
7   8  0.913043  0.885714       1              0            0             1
8   9  1.000000  1.000000       0              1            0             0
9  10  0.434783  0.542857       1              0            0             1

Ahora se observa que la característica País fue tranformada en variables dummy, tenemos una columna nueva por cada país diferente que teniamos en nuestra variable original, asignandosele 1 cuando el cliente o elemento de la fila pertenece a determinado país y 0 en caso contrario.

## <font color= 0088ff> Referencias

* [Imputación de datos: Teoría y práctica](https://repositorio.cepal.org/bitstream/handle/11362/4755/1/S0700590_es.pdf)
* [Guía completa para el Manejo de Datos Faltantes](https://www.codificandobits.com/blog/manejo-datos-faltantes/)
* [scikit-learn: Preprocessing data](https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing)
* [Pre-procesamiento de datos con Python](https://www.jacobsoft.com.mx/es_mx/pre-procesamiento-de-datos-con-python/)
* [Should I normalize/standardize/rescale the data?](http://www.faqs.org/faqs/ai-faq/neural-nets/part2/section-16.html)
* How to Scale Data With Outliers for Machine Learning
* [What are dummy variables in regression?](https://datasciencelk.com/dummy-variables-in-regression/)